@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
*{
    margin-top: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}
.icon:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}
.image-container {
    position: relative;
    display: inline-block;
}
.image-container img {
    transition: opacity 0.5s ease; 
}
.image-container .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.image-container:hover .hover-image {
    opacity: 1;
}
.image-container:hover .main-image {
    opacity: 0;
}.card {
    transition: transform 0.3s ease, border 0.3s ease;
}
.image-container {
    position: relative;
}
.image-container img {
    transition: opacity 0.5s ease; 
}
.image-container .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.image-container:hover .hover-image {
    opacity: 1;
}
.image-container:hover .main-image {
    opacity: 0;
}
.card:hover {
    transform: translateY(-10px); 
    border: 2px solid yellow; 
}
.poleo {
    border: 2px solid yellow; 
    text-align: center;
    transition: transform 0.3s ease, border 0.3s ease;
}
.poleo:hover {
    transform: translateY(-10px);
    border: 2px solid yellow; 
}
.btn-outline-light {
    color: #fff;
    border-color: #fff;
}
.btn-outline-light:hover {
    background-color: #fff;
    color: #000;
}
.btn2:hover{
    background-color: #136450;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
.btn2{
    color: #000;
    background-color: white;
}
.services .col-lg-2:hover .bg-light {
    transform: scale(1.05); 
    transition: transform 0.3s ease-in-out; 
}
.services .bg-light {
    transition: transform 0.3s ease-in-out; 
}
#cart-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    z-index: 1000;
}